{% load static %}
<!-- Monthly delivery comparison bar graph -->
<script type="text/javascript">
    new Morris.Bar({
      element: 'delivery-bar',
      data: [
        { mwezi: '{{ current_month }}', distributed: {% if nets_delivered.total_delivered %}{{ nets_delivered.total_delivered }}{% else %}0 {% endif %} },
        { mwezi: '{{ prev_month }}', distributed: {% if prev_month_delivered.prev_delivered %}{{ prev_month_delivered.prev_delivered }}{% else %}0{% endif %} },
      ],
      xkey: 'mwezi',
      ykeys: ['distributed'],
      labels: ['Nets'],
      hideHover: 'auto',
      barColors: ['#4ac18e']
    });
</script>

<!-- Quarterly delivery comparison bar graph -->
<script type="text/javascript">
    new Morris.Bar({
      element: 'quarterly-delivery-bar',
      data: [
        { quarter: 'Q 1', distributed:{% if q1_distribution.q1_deliverd %} {{ q1_distribution.q1_deliverd }}{% else %}0{% endif %} },
        { quarter: 'Q 2', distributed:{% if q2_distribution.q2_deliverd %} {{ q2_distribution.q2_deliverd }}{% else %}0{% endif %} },
        { quarter: 'Q 3', distributed:{% if q3_distribution.q3_deliverd %} {{ q3_distribution.q3_deliverd }}{% else %}0{% endif %} },
        { quarter: 'Q 4', distributed:{% if q4_distribution.q4_deliverd %} {{ q4_distribution.q4_deliverd }}{% else %}0{% endif %} }
      ],
      xkey: 'quarter',
      ykeys: ['distributed'],
      labels: ['Nets'],
      hideHover: 'auto',
      barColors: ['#4ac18e'],
      xLabelAngle: '40'
    });
</script>

<!-- Monthly delivery comparison bar graph -->
<script type="text/javascript">
    new Morris.Bar({
      element: 'annual-delivery-bar',
      data: [
        {% for region in current_year %}
        { region: '{{ region.facility__psk_region }}', distributed: {{ region.total_nets }} },
        {% endfor %}
      ],
      xkey: 'region',
      ykeys: ['distributed'],
      labels: ['Nets'],
      hideHover: 'auto',
      barColors: ['#4ac18e'],
      xLabelAngle: '45'
    });
</script>

<!-- Quarterly county delivery bar graph -->
<script type="text/javascript">
    new Morris.Bar({
      element: 'countyQuarterlyDistribution',
      data: [
      {% for county in quarter_dist %}
        { county: '{{ county.0 }}', distributed: {{ county.1 }} },
      {% endfor %}
      ],
      xkey: 'county',
      ykeys: ['distributed'],
      labels: ['Nets'],
      hideHover: 'auto',
      barColors: ['#4ac18e'],
      xLabelAngle: '90'
    });
</script>