{% load static %}
<!-- Monthly delivery comparison bar graph -->
<script type="text/javascript">
    new Morris.Bar({
      element: 'delivery-bar',
      data: [
        { mwezi: 'Current', distributed: 150000 },
        { mwezi: 'Previous', distributed: 160000 },
      ],
      xkey: 'mwezi',
      ykeys: ['distributed'],
      labels: ['Nets'],
      hideHover: 'auto',
      barColors: ['#4ac18e']
    });
</script>

<!-- Monthly delivery comparison bar graph -->
<script type="text/javascript">
    new Morris.Bar({
      element: 'annual-delivery-bar',
      data: [
        {% for region in current_year %}
        { region: '{{ region.facility__psk_region }}', distributed: {{ region.total_nets }} },
        {% endfor %}
      ],
      xkey: 'region',
      ykeys: ['distributed'],
      labels: ['Nets'],
      hideHover: 'auto',
      barColors: ['#4ac18e'],
      xLabelAngle: '45'
    });
</script>