{% load static %}
{% load humanize %}
<!-- Monthly issuance comparison bar graph -->
<script type="text/javascript">
    new Morris.Bar({
      element: 'issuance-bar',
      data: [
        { mwezi: '{{ current_month }}', issued: {% if nets_issued.total_issued %}{{ nets_issued.total_issued }}{% else %}0{% endif %} },
        { mwezi: '{{ prev_month }}', issued: {% if prev_month_issued.prev_issued %}{{ prev_month_issued.prev_issued }}{% else %}0{% endif %} },
      ],
      xkey: 'mwezi',
      ykeys: ['issued'],
      labels: ['Nets'],
      hideHover: 'auto',
      barColors: ['#4ac18e']
    });
</script>

<!-- Monthly issuance comparison bar graph -->
<script type="text/javascript">
    new Morris.Bar({
      element: 'quarterly-issuance-bar',
      data: [
        { quarter: 'Q 1', issued:{% if q1_issuance.q1_issued %} {{ q1_issuance.q1_issued }}{% else %}0{% endif %} },
        { quarter: 'Q 2', issued:{% if q2_issuance.q2_issued %} {{ q2_issuance.q2_issued }}{% else %}0{% endif %} },
        { quarter: 'Q 3', issued:{% if q3_issuance.q3_issued %} {{ q3_issuance.q3_issued }}{% else %}0{% endif %} },
        { quarter: 'Q 4', issued:{% if q4_issuance.q4_issued %} {{ q4_issuance.q4_issued }}{% else %}0{% endif %} },
      ],
      xkey: 'quarter',
      ykeys: ['issued'],
      labels: ['Nets'],
      hideHover: 'auto',
      barColors: ['#4ac18e'],
      xLabelAngle: '40'
    });
</script>

<!-- Monthly anc issuance comparison bar graph -->
<script type="text/javascript">
    new Morris.Bar({
      element: 'anc-issuance-bar',
      data: [
        { mwezi: 'Current', distributed: {% if nets_to_anc.total_anc %}{{ nets_to_anc.total_anc }}{% else %}0{% endif %} },
        { mwezi: 'Previous', distributed: {% if prev_month_anc.prev_anc %}{{ prev_month_anc.prev_anc }}{% else %}0{% endif %} }
      ],
      xkey: 'mwezi',
      ykeys: ['distributed'],
      labels: ['Nets'],
      hideHover: 'auto',
      barColors: ['#4ac18e']
    });
</script>

<!-- Monthly cwc issuance comparison bar graph -->
<script type="text/javascript">
    new Morris.Bar({
      element: 'cwc-issuance-bar',
      data: [
        { mwezi: 'Current', distributed: {% if nets_to_cwc.total_cwc %}{{ nets_to_cwc.total_cwc }}{% else %}0{% endif %} },
        { mwezi: 'Previous', distributed: {% if prev_month_cwc.prev_cwc %}{{ prev_month_cwc.prev_cwc }}{% else %}0{% endif %} }
      ],
      xkey: 'mwezi',
      ykeys: ['distributed'],
      labels: ['Nets'],
      hideHover: 'auto',
      barColors: ['#4ac18e']
    });
</script>

<!-- Quarterly county issuance bar graph -->
<script type="text/javascript">
    new Morris.Bar({
      element: 'countyQuarterlyIssuance',
      data: [
      {% for county in quarter_issuance %}
        { county: '{{ county.0 }}', issued: {{ county.1 }} },
      {% endfor %}
      ],
      xkey: 'county',
      ykeys: ['issued'],
      labels: ['Nets'],
      hideHover: 'auto',
      barColors: ['#4ac18e'],
      xLabelAngle: '90'
    });
</script>