<!-- Overall Monthly Filter Modal -->
<div id="monthly-modal-overall" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title">Filter all parameters by month</h4>
            </div>
            <div class="modal-body">
                <form method="POST" action="{% url 'reporting:monthly_overall_filter' %}">{% csrf_token%}
                    <div class="form-group">
                        <label>Month</label>
                        <select class="form-control" name="mwezi" required>
                            <option disabled selected>--Select month--</option>
                            {% for mwezi in months_choices %}
                            <option value="{{ mwezi.0 }}">{{ mwezi.1 }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="form-group">
                        <label>Year</label>
                        <select class="form-control" name="mwaka" required>
                            <option disabled selected>--Select year--</option>
                            {% for mwaka in miaka %}
                            <option value="{{ mwaka }}">{{ mwaka }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="col-md-12 form-group">
                        <label for="message-text" class="control-label">County:</label>
                        <select class="form-control" name="county">
                            <option disabled selected>--Select county--</option>
                            {% for county in counties %}
                            <option value="{{ county.county }}">{{ county.county }}</option>
                            {% endfor %}
                        </select>
                    </div>
                
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-primary waves-effect waves-light"><i class="fa fa-search"></i> Search</button>
                <button type="reset" class="btn btn-warning waves-effect waves-light"><i class="fa fa-refresh"></i> Reset</button>
                <button type="button" class="btn btn-default waves-effect" data-dismiss="modal">Close</button>
                
            </div>
            </form>
        </div>
    </div>
</div>

<!-- Monthly Nets Issuance Filter Modal -->
<div id="monthly-visits-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title">Filter facility visits by month</h4>
            </div>
            <div class="modal-body">
                <form method="POST" action="{% url 'reporting:month_visits_filter' %}">{% csrf_token%}
                    <div class="form-group">
                        <label>Month</label>
                        <select class="form-control" name="mwezi" required>
                            <option disabled selected>--Select month--</option>
                            {% for mwezi in months_choices %}
                            <option value="{{ mwezi.0 }}">{{ mwezi.1 }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="form-group">
                        <label>Year</label>
                        <select class="form-control" name="mwaka" required>
                            <option disabled selected>--Select year--</option>
                            {% for mwaka in miaka %}
                            <option value="{{ mwaka }}">{{ mwaka }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="col-md-12 form-group">
                        <label for="message-text" class="control-label">County:</label>
                        <select class="form-control" name="county">
                            <option disabled selected>--Select county--</option>
                            {% for county in counties %}
                            <option value="{{ county.county }}">{{ county.county }}</option>
                            {% endfor %}
                        </select>
                    </div>
                
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-primary waves-effect waves-light"><i class="fa fa-search"></i> Search</button>
                <button type="reset" class="btn btn-warning waves-effect waves-light"><i class="fa fa-refresh"></i> Reset</button>
                <button type="button" class="btn btn-default waves-effect" data-dismiss="modal">Close</button>
                
            </div>
            </form>
        </div>
    </div>
</div>

<div id="responsive-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title">Filter nets distribution by date range</h4>
            </div>
            <div class="modal-body">
                <form>
                    <div class="col-md-6"><div class="input-group date">
                        <input type="text" name="start_date" autocomplete="off" id="visiting-date" onblur="verifyDates();" class="form-control mydatepicker" placeholder="Start Date" required>
                        <span class="input-group-addon"><i class="icon-calender"></i></span> 
                    </div></div>
                    <div class="col-md-6"><div class="input-group date">
                        <input type="text" name="end_date" autocomplete="off" id="visiting-date" onblur="verifyDates();" class="form-control mydatepicker" placeholder="End Date" required>
                        <span class="input-group-addon"><i class="icon-calender"></i></span> 
                    </div></div>
                    <div class="col-md-12 form-group pulldown">
                        <label for="message-text" class="control-label">County:</label>
                        <select class="form-control">
                            {% for county in counties %}
                            <option value="{{ county.county }}">{{ county.county }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-primary waves-effect waves-light"><i class="fa fa-search"></i> Search</button>
                <button type="reset" class="btn btn-warning waves-effect waves-light"><i class="fa fa-refresh"></i> Reset</button>
                <button type="button" class="btn btn-default waves-effect" data-dismiss="modal">Close</button>
                
            </div>
        </div>
    </div>
</div>

<!-- Monthly Nets Delivery Filter Modal -->
<div id="monthly-modal-one" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title">Filter nets delivery by month</h4>
            </div>
            <div class="modal-body">
                <form method="POST" action="{% url 'reporting:month_dist_filter' %}">{% csrf_token%}
                    <div class="form-group">
                        <label>Month</label>
                        <select class="form-control" name="mwezi" required>
                            <option disabled selected>--Select month--</option>
                            {% for mwezi in months_choices %}
                            <option value="{{ mwezi.0 }}">{{ mwezi.1 }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="form-group">
                        <label>Year</label>
                        <select class="form-control" name="mwaka" required>
                            <option disabled selected>--Select year--</option>
                            {% for mwaka in miaka %}
                            <option value="{{ mwaka }}">{{ mwaka }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="col-md-12 form-group">
                        <label for="message-text" class="control-label">County:</label>
                        <select class="form-control" name="county">
                            <option disabled selected>--Select county--</option>
                            {% for county in counties %}
                            <option value="{{ county.county }}">{{ county.county }}</option>
                            {% endfor %}
                        </select>
                    </div>
                
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-primary waves-effect waves-light"><i class="fa fa-search"></i> Search</button>
                <button type="reset" class="btn btn-warning waves-effect waves-light"><i class="fa fa-refresh"></i> Reset</button>
                <button type="button" class="btn btn-default waves-effect" data-dismiss="modal">Close</button>
                
            </div>
            </form>
        </div>
    </div>
</div>

<!-- Monthly Nets Issuance Filter Modal -->
<div id="monthly-modal-two" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title">Filter nets issued by month</h4>
            </div>
            <div class="modal-body">
                <form method="POST" action="{% url 'reporting:month_issuance_filter' %}">{% csrf_token%}
                    <div class="form-group">
                        <label>Month</label>
                        <select class="form-control" name="mwezi" required>
                            <option disabled selected>--Select month--</option>
                            {% for mwezi in months_choices %}
                            <option value="{{ mwezi.0 }}">{{ mwezi.1 }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="form-group">
                        <label>Year</label>
                        <select class="form-control" name="mwaka" required>
                            <option disabled selected>--Select year--</option>
                            {% for mwaka in miaka %}
                            <option value="{{ mwaka }}">{{ mwaka }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="col-md-12 form-group">
                        <label for="message-text" class="control-label">County:</label>
                        <select class="form-control" name="county">
                            <option disabled selected>--Select county--</option>
                            {% for county in counties %}
                            <option value="{{ county.county }}">{{ county.county }}</option>
                            {% endfor %}
                        </select>
                    </div>
                
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-primary waves-effect waves-light"><i class="fa fa-search"></i> Search</button>
                <button type="reset" class="btn btn-warning waves-effect waves-light"><i class="fa fa-refresh"></i> Reset</button>
                <button type="button" class="btn btn-default waves-effect" data-dismiss="modal">Close</button>
                
            </div>
            </form>
        </div>
    </div>
</div>

<!-- Quarterly Filters Modals -->

<!-- Quarterly Nets Distribution -->
<div id="quarterly-dist-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title">Filter delivery by quarter</h4>
            </div>
            <div class="modal-body">
                <form method="POST" action="{% url 'reporting:quarter_dist_report' %}">{% csrf_token%}
                    <div class="form-group">
                        <label>Qurter</label>
                        <select class="form-control" name="quarter" required>
                            <option disabled selected>--Select quarter--</option>
                            <option value="One">First</option>
                            <option value="Two">Second</option>
                            <option value="Three">Third</option>
                            <option value="Four">Fourth</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label>Year</label>
                        <select class="form-control" name="mwaka" required>
                            <option disabled selected>--Select year--</option>
                            {% for mwaka in miaka %}
                            <option value="{{ mwaka }}">{{ mwaka }}</option>
                            {% endfor %}
                        </select>
                    </div>
                
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-primary waves-effect waves-light"><i class="fa fa-search"></i> Search</button>
                <button type="reset" class="btn btn-warning waves-effect waves-light"><i class="fa fa-refresh"></i> Reset</button>
                <button type="button" class="btn btn-default waves-effect" data-dismiss="modal">Close</button>
                
            </div>
            </form>
        </div>
    </div>
</div>

<!-- Quarterely Nets Issuance to target group -->
<div id="quarterly-issuance-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title">Filter Issuance by quarter</h4>
            </div>
            <div class="modal-body">
                <form method="POST" action="{% url 'reporting:quarter_issuance_report' %}">{% csrf_token%}
                    <div class="form-group">
                        <label>Qurter</label>
                        <select class="form-control" name="quarter" required>
                            <option disabled selected>--Select quarter--</option>
                            <option value="One">First</option>
                            <option value="Two">Second</option>
                            <option value="Three">Third</option>
                            <option value="Four">Fourth</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label>Year</label>
                        <select class="form-control" name="mwaka" required>
                            <option disabled selected>--Select year--</option>
                            {% for mwaka in miaka %}
                            <option value="{{ mwaka }}">{{ mwaka }}</option>
                            {% endfor %}
                        </select>
                    </div>
                
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-primary waves-effect waves-light"><i class="fa fa-search"></i> Search</button>
                <button type="reset" class="btn btn-warning waves-effect waves-light"><i class="fa fa-refresh"></i> Reset</button>
                <button type="button" class="btn btn-default waves-effect" data-dismiss="modal">Close</button>
                
            </div>
            </form>
        </div>
    </div>
</div>

<!-- Quarterely Facility Visits -->
<div id="quarterly-visits-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title">Filter Facility Visits by quarter</h4>
            </div>
            <div class="modal-body">
                <form method="POST" action="{% url 'reporting:quarter_visits_report' %}">{% csrf_token%}
                    <div class="form-group">
                        <label>Qurter</label>
                        <select class="form-control" name="quarter" required>
                            <option disabled selected>--Select quarter--</option>
                            <option value="One">First</option>
                            <option value="Two">Second</option>
                            <option value="Three">Third</option>
                            <option value="Four">Fourth</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label>Year</label>
                        <select class="form-control" name="mwaka" required>
                            <option disabled selected>--Select year--</option>
                            {% for mwaka in miaka %}
                            <option value="{{ mwaka }}">{{ mwaka }}</option>
                            {% endfor %}
                        </select>
                    </div>
                
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-primary waves-effect waves-light"><i class="fa fa-search"></i> Search</button>
                <button type="reset" class="btn btn-warning waves-effect waves-light"><i class="fa fa-refresh"></i> Reset</button>
                <button type="button" class="btn btn-default waves-effect" data-dismiss="modal">Close</button>
                
            </div>
            </form>
        </div>
    </div>
</div>