{% extends "base.html" %}

{% block title %}Facilities{% endblock %}

{% block content %}
<div class="row bg-title">
    <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
        <h4 class="page-title">Facilities Registered</h4>
    </div>
    <div class="col-lg-9 col-sm-8 col-md-8 col-xs-12"> 
        <ol class="breadcrumb">
            <li><a href="">Facilities</a></li>
            <li class="active">Facility list</li>
        </ol>
    </div>
    <!-- /.col-lg-12 -->
</div>
<div class="row">
    <div class="col-md-12">
        <div class="top-bar-btns">
            <div class="btn-group m-r-10">
                <button aria-expanded="false" data-toggle="dropdown" class="btn btn-info dropdown-toggle waves-effect waves-light" type="button">By County <span class="caret"></span></button>
                <ul role="menu" class="dropdown-menu">
                    <li><a href="#">--Select county--</a></li>
                    <li><a href="{% url 'facilities:facilities' %}">All facilities</a></li>
                    {% for county in counties %}
                    <li><a href="{% url 'facilities:county_facilities' county.county %}">{{ county.county }}</a></li>
                    {% endfor %}
                    <li class="divider"></li>
                    <li><a href="#">Separated link</a></li>
                </ul>
            </div>
            
            <a class="btn btn-primary" href="{% url 'distribution:record_distribution' %}"><i class="fa fa-plus"></i> New facility</a>
        </div>
    </div>
</div>
<!-- /row -->
<div class="row">
    <div class="col-sm-12">
        <div class="white-box">
            <h3 class="box-title m-b-0">Facility List</h3>
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th>MFL #</th>
                            <th>Facility</th>
                            <th>County</th>
                            <th>Sub-county</th>
                            <th>Ownership</th>
                        </tr>
                    </thead>
                    <tbody>
                    	{% for facility in facilities %}
                        <tr>
                            <td>{{ facility.mfl_code }}</td>
                            <td><a href="{% url 'facilities:facility_details' facility.pk %}">{{ facility.facility_name }}</a></td>
                            <td>{{ facility.county }}</td>
                            <td>{{ facility.sub_county }}</td>
                            <td>
                            	<span class="label {% if facility.facility_ownership == 'Public' %}label-danger
                            	{% elif  facility.facility_ownership == 'FBO' %}label-success
                            	{% else %}label-primary{% endif %}">
                            		{{ facility.facility_ownership }}
                        		</span> 
                            </td>
                        </tr>
                        {% empty %}
                        <tr>
                            <td colspan="5" class="text-center"><h3>No Facilities to display</h3></td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
          {% if facilities.has_other_pages %}
          <ul id="pagination-demo" class="pagination pagination-split">
            {% if facilities.has_previous %}
              <li><a class="page-link" href="?page={{ facilities.previous_page_number }}">Previous</a></li>
            {% else %}
              <li class="disabled"><span>&laquo;</span></li>
            {% endif %}
            {% for i in facilities.paginator.page_range %}
              {% if facilities.number == i %}
                <li class="active">{{ i }} <span class="sr-only">(current)</span></li>
              {% else %}
                <li><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
              {% endif %}
            {% endfor %}

            {% if facilities.paginator.num_pages > facilities.number|add:'4' %}
            <li><a href="?page={{ facilities.number|add:'5' }}">&hellip;</a></li>
            {% endif %}

            {% if facilities.has_next %}
              <li><a class="page-link" href="?page={{ facilities.next_page_number }}">&raquo;</a></li>
            {% else %}
              <li class="disabled"><span>&raquo;</span></li>
            {% endif %}
          </ul>
          {% endif %}

        </div>
    </div>
    
</div>
<!-- /.row -->
{% endblock %}