{% extends "base.html" %}
{% load humanize %}

{% block title %}Facilities{% endblock %}

{% block content %}
<div class="row bg-title">
    <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
        <h4 class="page-title">Facilities Registered {% if facility_count %}- {{ facility_count | intcomma }}{% endif %}</h4>
    </div>
    <div class="col-lg-9 col-sm-8 col-md-8 col-xs-12"> 
        <ol class="breadcrumb">
            <li><a href="">Facilities</a></li>
            <li class="active">Facility list</li>
        </ol>
    </div>
    <!-- /.col-lg-12 -->
</div>
<div class="row">
    <div class="col-md-12">
        <div class="top-bar-btns">
            <div class="btn-group m-r-10">
                <button aria-expanded="false" data-toggle="dropdown" class="btn btn-info dropdown-toggle waves-effect waves-light" type="button">By County <span class="caret"></span></button>
                <ul role="menu" class="dropdown-menu">
                    <li><a href="#">--Select county--</a></li>
                    <li><a href="{% url 'facilities:facilities' %}">All facilities</a></li>
                    {% for county in counties %}
                    <li><a href="{% url 'facilities:county_facilities' county.county %}">{{ county.county }}</a></li>
                    {% endfor %}
                    <li class="divider"></li>
                    <li><a href="#">Separated link</a></li>
                </ul>
            </div>
            <a class="btn btn-primary" href="{% url 'facilities:new_facility' %}"><i class="fa fa-plus"></i> New facility</a>
            {% if user.is_superuser %}
            <a class="btn btn-warning" href="{% url 'distribution:reset_nets_balance' %}"><i class="fa fa-refresh"></i> Reset balances</a>
            <a class="btn btn-danger" href="{% url 'facilities:delete_facilities' %}"><i class="fa fa-trash-o"></i> Delete facilities</a>
            {% endif %}
        </div>
    </div>
</div>
<!-- /row -->
<div class="row">
    <div class="col-sm-12">
        {% if messages %}
        {% for message in messages %}
        <div class="alert alert-{% ifequal message.tags 'error' %}danger {% else %}{{ message.tags }}{% endifequal %}">
            {{ message }}
        </div>
        {% endfor %}
        {% endif %}
        <div class="white-box">
            <h3 class="box-title m-b-0">Facility List</h3>
            <div class="table-responsive table-hover">
                <table class="table">
                    <thead>
                        <tr>
                            <th>MFL #</th>
                            <th>Facility</th>
                            <th>County</th>
                            <th>Sub-county</th>
                            <th>Ownership</th>
                            <th class="text-center">Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                    	{% for facility in facilities %}
                        <tr>
                            <td>{{ facility.mfl_code }}</td>
                            <td><a href="{% url 'facilities:facility_details' facility.pk %}">{{ facility.facility_name }}</a></td>
                            <td>{{ facility.county }}</td>
                            <td>{{ facility.sub_county }}</td>
                            <td>
                            	<span class="label {% if facility.facility_ownership == 'Public' %}label-danger
                            	{% elif  facility.facility_ownership == 'FBO' %}label-success
                            	{% else %}label-primary{% endif %}">
                            		{{ facility.facility_ownership }}
                        		</span> 
                            </td>
                            <td class="text-center">
                                <div class="dropdown custom-dropdown">
                                    <button aria-expanded="false" data-toggle="dropdown" class="btn btn-info dropdown-toggle waves-effect waves-light" type="button"><i class="fa fa-cog"></i> <span class="caret"></span></button>
                                    <ul role="menu" class="dropdown-menu dropdown-menu-left">
                                        <li><a href="#">--Select action--</a></li>
                                        <li class="primary-link"><a href="#">Record delivery</a></li>
                                        <li class="primary-link"><a href="#">Record issuance</a></li>
                                        <li class="edit-link"><a href="{% url 'facilities:update_facility' facility.pk %}"><i class="fa fa-edit"></i> Edit</a></li>
                                        <li class="danger-link"><a href="#"><i class="fa fa-exclamation"></i> Blacklist</a></li>
                                        <li class="danger-link"><a href="{% url 'facilities:delete_facility' facility.pk %}" onclick="return confirm('This action is irreversible. Are you sure?')"><i class="fa fa-trash-o"></i> Delete</a></li>
                                    </ul>
                                </div>
                            </td>
                        </tr>
                        {% empty %}
                        <tr>
                            <td colspan="5" class="text-center"><h3>No Facilities to display</h3></td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
          {% if facilities.has_other_pages %}
          <ul class="pagination pagination-split">
            {% if facilities.has_previous %}
              <li><a class="page-link" href="?page={{ facilities.previous_page_number }}">Previous</a></li>
            {% else %}
              <li class="disabled"><span>&laquo;</span></li>
            {% endif %}
            {% for i in page_range %}
              {% if facilities.number == i %}
                <li class="active"><a href="#">{{ i }}</a></li>
              {% else %}
                <li><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
              {% endif %}
            {% endfor %}

            {% if facilities.has_next %}
              <li><a class="page-link" href="?page={{ facilities.next_page_number }}">&raquo;</a></li>
            {% else %}
              <li class="disabled"><span>&raquo;</span></li>
            {% endif %}
          </ul>
          {% endif %}

        </div>
        <a href="{% url 'facilities:excel_facilities_download' %}" class="btn btn-success" target="_blank"><i class="fa fa-download"></i> Excel download</a>
    </div>
    
</div>
<!-- /.row -->
{% endblock %}