{% extends "base.html" %}

{% block title %}Edit Zone{% endblock %}

{% block content %}
<div class="row bg-title">
    <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
        <h4 class="page-title">Update Zone</h4>
    </div>
    <div class="col-lg-9 col-sm-8 col-md-8 col-xs-12"> 
        <ol class="breadcrumb">
            <li><a href="{% url 'facilities:dashboard' %}">Dashboard</a></li>
            <li class="active">Edit region</li>
        </ol>
    </div>
    <!-- /.col-lg-12 -->
</div>
<!-- Top bar actions -->
<div class="row">
    <div class="col-md-12">
        <div class="top-bar-btns">
            <a class="btn btn-primary" href="{% url 'facilities:transmission_zones' %}"><i class="fa fa-list"></i> Zones list</a>
        </div>
    </div>
</div>

<!-- Form area -->
<div class="row">
    <div class="col-sm-12">
        {% if messages %}
        {% for message in messages %}
        <div class="alert alert-{% ifequal message.tags 'error' %} danger {% else %}{{ message.tags }}{% endifequal %}">
            {{ message }}
        </div>
        {% endfor %}
        {% endif %}
        <div class="white-box">
            <h3 class="box-title m-b-0">Zone details</h3>
            <form method="POST" action="{% url 'facilities:update_zone' zone.pk %}">{% csrf_token %}
                <div class="form-group">
                    <label>Zone name</label>
                    <input type="text" class="form-control" name="zone_name" value="{{ zone.zone_name }}" required>
                </div>
                <div class="form-btns">
                    <button type="submit" class="btn btn-primary">Submit</button>
                    <button type="reset" class="btn btn-danger">Cancel</button>
                </div>
            </form>
          
        </div>
    </div>
    
</div>
{% endblock %}