/*.ui-autocomplete{
	top: 260px !important;
	left: 260px !important;
	z-index: 2 !important;
	display: none;
}*/

.form-group{
	position: relative !important;
}

.datepicker{
	top: 3%;
 	position: absolute !important;
}

.form-btns{
	margin-top: 3%;
	padding: 10px;
}

.top-bar-btns{
	text-align: right;
	padding: 10px;
}

#county-facilities-graph{
	height: 400px;
}

/* Headers styling */

.facility-detail{
	font-weight: 500;
	color: #01c0c8;
}

.facility-detail span{
	font-weight: 100;
	color: #000;
}

.empty-objects{
	color: #ff6849;
}


@media only screen and (max-width: 768px){
		.ui-autocomplete{
		left: 40px !important;
		z-index: 2 !important;
	}
}
