/*.ui-autocomplete{
	top: 260px !important;
	left: 260px !important;
	z-index: 2 !important;
	display: none;
}*/


.form-group{
	position: relative !important;
}

.datepicker{
	top: 3%;
 	position: absolute !important;
}

.form-btns{
	margin-top: 3%;
	padding: 10px;
}

input:invalid{
  border-color: #900;
  background-color: #FDD;
}

.top-bar-btns{
	text-align: right;
	padding: 10px;
}

.top-bar-btns .btn{
	border-radius: 5px;
}

#county-facilities-graph{
	height: 400px;
}

/* Headers styling */

.facility-detail{
	font-weight: 500;
	color: #01c0c8;
}

.facility-detail span{
	font-weight: 100;
	color: #000;
}

.empty-objects{
	color: #ff6849;
}

.table-responsive{
	overflow: visible;
}

.dropdown-menu-left{
	overflow-x: visible;
	left: -20px;
}

/* Link colors */
.dropdown-menu .edit-link a{
	color: green;
}

.dropdown-menu .danger-link a{
	color: red;
}

.dropdown-menu .primary-link a{
	color: #03a9f3;
}

.break-text{
	display: block;
	color: red;
	font-size: 11px;
}

/* Span classes */
.county-delivery{
	color: #01c0c8;
	font-size: 20px; 
	font-weight: bold;
}

/* H3 Classes*/
.cordinator-name{
	color: #01c0c8;
	font-size: 22px; 
	font-weight: bold;
}

.county-dropdown{
	height: 200px;
	overflow-y: scroll;
}

/* Error divs */
#date-error{
	border: 1px solid red;
	color: red;
	font-size: 14px;
	padding: 10px;
}



@media only screen and (max-width: 768px){
		.ui-autocomplete{
		left: 40px !important;
		z-index: 2 !important;
	}

	.ui-autocomplete-input{
		
	}

	.top-bar-btns .btn-group,
	.top-bar-btns .btn{
		display: block;
		margin-bottom: 5px;
		width: 100%;
	}
}
