{% extends "base.html" %}

{% block title %}Net Distribution Records{% endblock %}

{% block content %}
<div class="row bg-title">
    <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
        <h4 class="page-title">Net issuance records</h4>
    </div>
    <div class="col-lg-9 col-sm-8 col-md-8 col-xs-12"> 
        <ol class="breadcrumb">
            <li><a href="{% url 'distribution:nets_distribution' %}">Distribution Dashboard</a></li>
            <li class="active">Issuance records</li>
        </ol>
    </div>
    <!-- /.col-lg-12 -->
</div>
<div class="row">
    <div class="col-md-12">
        <div class="top-bar-btns">
            <a class="btn btn-primary" href="{% url 'distribution:issue_nets' %}"><i class="fa fa-plus"></i> Nets delivery</a>
            <a class="btn btn-danger" href="{% url 'distribution:delete_deliveries' %}" onclick="return confirm('This action is irreversible. Are you sure?');"><i class="fa fa-trash-o"></i> Delete deliveries</a>
        </div>
    </div>
</div>
<!-- Row -->
<div class="row">
    <div class="col-sm-12">
        {% if messages %}
        {% for message in messages %}
        <div class="alert alert-{% ifequal message.tags 'error' %} danger {% else %}{{ message.tags }}{% endifequal %}">
            {{ message }}
        </div>
        {% endfor %}
        {% endif %}
        <div class="white-box">
            <h3 class="box-title m-b-0">Distribution details</h3>
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <th>#</th>
                        <th>Facility</th>
                        <th>Invoice No</th>
                        <th>Nets issued</th>
                        <th>Date issued</th>
                        <th class="text-center">Action</th>
                    </thead>
                    <tbody>
                        {% for delivery in recently_delivered %}
                        <tr>
                            <td>{{ delivery.facility.mfl_code }}</td>
                            <td><a href="{% url 'facilities:facility_details' delivery.facility.pk%}">{{ delivery.facility.facility_name }}</a></td>
                            <td>{% if delivery.invoice_no %}{{ delivery.invoice_no }}{% else %}N/A{% endif %}</td>
                            <td>{{ delivery.nets_issued }}</td>
                            <td>{{ delivery.date_issued }}</td>
                            <td class="text-center"><a href="{% url 'distribution:delete_delivery' delivery.pk %}" onclick="return confirm('This action is irreversible. Are you sure?');"><i class="fa fa-trash-o"></i> Delete</a></td>
                        </tr>
                        {% empty %}
                        <tr>
                            <td colspan="4" class="text-center"><h3>No nets delivery records yet!</h3></td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                {% if recently_delivered.has_other_pages %}
                <ul class="pagination pagination-split">
                    {% if recently_delivered.has_previous %}
                      <li><a class="page-link" href="?page={{ recently_delivered.previous_page_number }}">Previous</a></li>
                    {% else %}
                      <li class="disabled"><span>&laquo;</span></li>
                    {% endif %}
                    {% for i in page_range %}
                      {% if recently_delivered.number == i %}
                        <li class="active"><a href="#">{{ i }}</a></li>
                      {% else %}
                        <li><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
                      {% endif %}
                    {% endfor %}

                    {% if recently_delivered.has_next %}
                      <li><a class="page-link" href="?page={{ recently_delivered.next_page_number }}">&raquo;</a></li>
                    {% else %}
                      <li class="disabled"><span>&raquo;</span></li>
                    {% endif %}
                </ul>
                {% endif %}
            </div>
        </div>
    </div>
</div>
<!-- /.row -->

{% endblock %}