{% extends "base.html" %}
{% load humanize %}
{% block title %}Counties Net Distribution Records{% endblock %}

{% block content %}
<div class="row bg-title">
    <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
        <h4 class="page-title">Counties Net Issuance</h4>
    </div>
    <div class="col-lg-9 col-sm-8 col-md-8 col-xs-12">
        <ol class="breadcrumb">
            <li><a href="{% url 'distribution:nets_distribution' %}">Distribution Dashboard</a></li>
            <li class="active">Issuance records</li>
        </ol>
    </div>
    <!-- /.col-lg-12 -->
</div>
<div class="row">
    <div class="col-md-12">
        <div class="top-bar-btns">
            <a class="btn btn-primary" href="{% url 'distribution:issue_nets' %}"><i class="fa fa-plus"></i> Nets delivery</a>
            <a class="btn btn-secondary" href="{% url 'distribution:download_facility_distribution_excel_date_range' start_date end_date %}"><i class="fa fa-plus"></i> Download data</a>
        </div>
    </div>
</div>
<!-- Row -->
<div class="row">
    <div class="col-sm-12">
        {% if messages %}
        {% for message in messages %}
        <div class="alert alert-{% ifequal message.tags 'error' %} danger {% else %}{{ message.tags }}{% endifequal %}">
            {{ message }}
        </div>
        {% endfor %}
        {% endif %}
        <div class="white-box">
            <h3 class="box-title m-b-0">Distribution details</h3>
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <th>County</th>
                        <th>Total nets</th>
                    </thead>
                    <tbody>
                        {% for record in records %}
                        <tr>
                            <td>{{ record.0 }}</td>
                            <td>{{ record.1|intcomma }}</td>
                        </tr>
                        {% empty %}
                        <tr>
                            <td colspan="4" class="text-center"><h3>No nets delivery records yet!</h3></td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<!-- /.row -->

{% endblock %}
