{% load static %}
<script type="text/javascript">
	new Morris.Bar({
	  // ID of the element in which to draw the chart.
	  element: 'county-distribution-graph',
	  // Chart data records -- each entry in this array corresponds to a point on
	  // the chart.
	  data: [
	  {% for county in county_distribution %}
	    { county: '{{ county.facility__county }}', value: {{ county.county_total }} },
	  {% endfor %}
	  ],
	  // The name of the data record attribute that contains x-values.
	  xkey: 'county',
	  // A list of names of data record attributes that contain y-values.
	  ykeys: ['value'],
	  // Labels for the ykeys -- will be displayed when you hover over the
	  // chart.
	  labels: ['Nets'],
	  hideHover: 'auto',
	  xLabelAngle: '90'
	});
</script>

<script type="text/javascript">
	new Morris.Donut({
	  // ID of the element in which to draw the chart.
	  element: 'region-distribution-graph',
	  // Chart data records -- each entry in this array corresponds to a point on
	  // the chart.
	  data: [
	  {% for region in region_distribution %}
	    { label: '{{ region.facility__psk_region }}', value: {{ region.region_total }} },
	  {% endfor %}
	  ],
	  // The name of the data record attribute that contains x-values.
	  // xkey: 'region',
	  // A list of names of data record attributes that contain y-values.
	  // ykeys: ['value'],
	  // Labels for the ykeys -- will be displayed when you hover over the
	  // chart.
	  hideHover: 'auto',
	  colors: ['#00ff00', '#ffff66', '#ff9900', '#3399ff', '#ff3300', '#ccff66', '#800000'],
	  xLabelAngle: '90'
	});
</script>

<script type="text/javascript">
	new Morris.Bar({
	  // ID of the element in which to draw the chart.
	  element: 'ez-distribution-graph',
	  // Chart data records -- each entry in this array corresponds to a point on
	  // the chart.
	  data: [
	  {% for zone in distribution_by_ez %}
	    { label: '{{ zone.facility__epidemiological_zone }}', value: {{ zone.ez_distribution }} },
	  {% endfor %}
	  ],
	  // The name of the data record attribute that contains x-values.
	  xkey: 'label',
	  // A list of names of data record attributes that contain y-values.
	  ykeys: ['value'],
	  // Labels for the ykeys -- will be displayed when you hover over the
	  // chart.
	  labels: ['Facilities'],
	  hideHover: 'auto'
	  // xLabelAngle: '20'
	});
</script>

<!-- ISSUANCE INDEX GRAPHS -->
<script type="text/javascript">
	new Morris.Bar({
	  // ID of the element in which to draw the chart.
	  element: 'county-issuance-graph',
	  // Chart data records -- each entry in this array corresponds to a point on
	  // the chart.
	  data: [
	  {% for county in county_issuance %}
	    { county: '{{ county.facility__county }}', value: {{ county.county_total }} },
	  {% endfor %}
	  ],
	  // The name of the data record attribute that contains x-values.
	  xkey: 'county',
	  // A list of names of data record attributes that contain y-values.
	  ykeys: ['value'],
	  // Labels for the ykeys -- will be displayed when you hover over the
	  // chart.
	  labels: ['Nets'],
	  hideHover: 'auto',
	  xLabelAngle: '90'
	});
</script>

<script type="text/javascript">
	new Morris.Donut({
	  // ID of the element in which to draw the chart.
	  element: 'region-issuance-graph',
	  // Chart data records -- each entry in this array corresponds to a point on
	  // the chart.
	  data: [
	  {% for region in region_issuance %}
	    { label: '{{ region.facility__psk_region }}', value: {{ region.region_total }} },
	  {% endfor %}
	  ],
	  // The name of the data record attribute that contains x-values.
	  // xkey: 'region',
	  // A list of names of data record attributes that contain y-values.
	  // ykeys: ['value'],
	  // Labels for the ykeys -- will be displayed when you hover over the
	  // chart.
	  hideHover: 'auto',
	  colors: ['#00ff00', '#ffff66', '#ff9900', '#3399ff', '#ff3300', '#ccff66', '#800000'],
	  xLabelAngle: '90'
	});
</script>

<script type="text/javascript">
	new Morris.Bar({
	  // ID of the element in which to draw the chart.
	  element: 'ez-issuance-graph',
	  // Chart data records -- each entry in this array corresponds to a point on
	  // the chart.
	  data: [
	  {% for zone in issuance_by_ez %}
	    { label: '{{ zone.facility__epidemiological_zone }}', value: {{ zone.ez_issuance }} },
	  {% endfor %}
	  ],
	  // The name of the data record attribute that contains x-values.
	  xkey: 'label',
	  // A list of names of data record attributes that contain y-values.
	  ykeys: ['value'],
	  // Labels for the ykeys -- will be displayed when you hover over the
	  // chart.
	  labels: ['Facilities'],
	  hideHover: 'auto'
	  // xLabelAngle: '20'
	});
</script>

<!-- Targets graphs -->
{% load static %}
<script type="text/javascript">
	new Morris.Bar({
	  // ID of the element in which to draw the chart.
	  element: 'distribution-targets',
	  // Chart data records -- each entry in this array corresponds to a point on
	  // the chart.
	  data: [

	  	{% for record in targets_graph %}
	  	{% for data in achieved %}
	  	{% ifequal data.mwezi record.target_month %}
	    { mwezi: '{{ data.mwezi }}', a: {% if data.total_achieved %}{{ data.total_achieved }}{% else %}0{% endif %}, b: {% if record.target %}{{ record.target }}{% else %}0{% endif %}},
	    {% endifequal %}
	    {% endfor %}
	    {% endfor %}
	  ],
	  // The name of the data record attribute that contains x-values.
	  xkey: 'mwezi',
	  // A list of names of data record attributes that contain y-values.
	  ykeys: ['a', 'b'],
	  // Labels for the ykeys -- will be displayed when you hover over the
	  // chart.
	  labels: ['achieved','target'],
	  barColors: ['#00ff00', '#ff3300'],
	  hideHover: 'auto',
	  // xLabelAngle: '90'
	});
</script>