{% extends "base.html" %}
{% load static %}
{% load humanize %}

{% block title %}Nets Distribution{% endblock %}


{% block content %}
<div class="row bg-title">
    <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
        <h4 class="page-title">Distribution Dashboard</h4>
    </div>
    <div class="col-lg-9 col-sm-8 col-md-8 col-xs-12">
        <ol class="breadcrumb">
            <li class="active">Dashboard</li>
        </ol>
    </div>
    <!-- /.col-lg-12 -->
</div>
<!--row -->
<div class="row">
    <div class="col-md-3 col-sm-6">
        <div class="white-box">
            <div class="r-icon-stats">
                <i class="fa fa-hospital-o bg-megna"></i>
                <div class="bodystate">
                    <h4>370</h4>
                    <span class="text-muted">Total Facilities</span>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-3 col-sm-6">
        <a href="{% url 'distribution:nets_distributed' %}">
        <div class="white-box">
            <div class="r-icon-stats">
                <i class="ti-shopping-cart bg-info"></i>
                <div class="bodystate">
                    <h4>342</h4>
                    <span class="text-muted">Nets</span>
                </div>
            </div>
        </div>
        </a>
    </div>
    <div class="col-md-3 col-sm-6">
        <a href="{% url 'distribution:issue_nets' %}">
        <div class="white-box">
            <div class="r-icon-stats">
                <i class="ti-plus bg-info"></i>
                <div class="bodystate">
                    <h4>New</h4>
                    <span class="text-muted">Issuance</span>
                </div>
            </div>
        </div>
        </a>
    </div>
    <div class="col-md-3 col-sm-6">
        <a href="{% url 'distribution:record_distribution' %}">
        <div class="white-box">
            <div class="r-icon-stats">
                <i class="ti-plus bg-inverse"></i>
                <div class="bodystate">
                    <h4>New</h4>
                    <span class="text-muted">Distribution</span>
                </div>
            </div>
        </div>
        </a>
    </div>
</div>
<!--/row -->
<!-- .row -->
<div class="row">
    <div class="col-md-4 col-sm-12 col-xs-12">
        <div class="white-box">
            <h3 class="box-title"><small class="pull-right m-t-10 text-success"><i class="fa fa-sort-asc"></i> 18% High then last month</small> New Patient</h3>
            <div class="stats-row">
                <div class="stat-item">
                    <h6>Overall</h6>
                    <b>80.40%</b></div>
                <div class="stat-item">
                    <h6>Montly</h6>
                    <b>15.40%</b></div>
                <div class="stat-item">
                    <h6>Day</h6>
                    <b>5.50%</b></div>
            </div>
            <div id="sparkline8" class="minus-mar"></div>
        </div>
    </div>
    <div class="col-md-4 col-sm-12 col-xs-12">
        <div class="white-box">
            <h3 class="box-title"><small class="pull-right m-t-10 text-danger"><i class="fa fa-sort-desc"></i> 18% less then last month</small>OPD Patients</h3>
            <div class="stats-row">
                <div class="stat-item">
                    <h6>Overall</h6>
                    <b>80.40%</b></div>
                <div class="stat-item">
                    <h6>Montly</h6>
                    <b>15.40%</b></div>
                <div class="stat-item">
                    <h6>Day</h6>
                    <b>5.50%</b></div>
            </div>
            <div id="sparkline9" class="minus-mar"></div>
        </div>
    </div>
    <div class="col-md-4 col-sm-12 col-xs-12">
        <div class="white-box">
            <h3 class="box-title"><small class="pull-right m-t-10 text-success"><i class="fa fa-sort-asc"></i> 18% High then last month</small>Treatment</h3>
            <div class="stats-row">
                <div class="stat-item">
                    <h6>Overall Growth</h6>
                    <b>80.40%</b></div>
                <div class="stat-item">
                    <h6>Montly</h6>
                    <b>15.40%</b></div>
                <div class="stat-item">
                    <h6>Day</h6>
                    <b>5.50%</b></div>
            </div>
            <div id="sparkline10" class="minus-mar"></div>
        </div>
    </div>
</div>
<!-- /.row -->
<!--row -->
<div class="row">
    <div class="col-md-6 col-lg-6 col-sm-12 col-xs-12">
        <div class="white-box">
            <h3 class="box-title">Patients In</h3>
            <ul class="list-inline text-center">
                <li>
                    <h5><i class="fa fa-circle m-r-5" style="color: #00bfc7;"></i>OPD</h5>
                </li>
                <li>
                    <h5><i class="fa fa-circle m-r-5" style="color: #b4becb;"></i>ICU</h5>
                </li>
            </ul>
            <div id="morris-area-chart1" style="height: 370px;"></div>
        </div>
    </div>
    <div class="col-md-6 col-lg-6 col-sm-12 col-xs-12">
        <div class="white-box">
            <h3 class="box-title">Hospital Earning</h3>
            <ul class="list-inline text-center">
                <li>
                    <h5><i class="fa fa-circle m-r-5" style="color: #00bfc7;"></i>OPD</h5>
                </li>
                <li>
                    <h5><i class="fa fa-circle m-r-5" style="color: #b4becb;"></i>ICU</h5>
                </li>
            </ul>
            <div id="morris-area-chart2" style="height: 370px;"></div>
        </div>
    </div>
</div>
<!-- row -->
<!-- /row -->
<div class="row">
    <div class="col-sm-12">
        <div class="white-box">
            <h3 class="box-title m-b-0">Recent Nets Issuance</h3>
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Facility</th>
                            <th>Nets issued</th>
                            <th>Date issued</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for issuance in recently_distributed %}
                        <tr>
                            <td>{{ issuance.pk }}</td>
                            <td>{{ issuance.facility.facility_name }}</td>
                            <td>{{ issuance.nets_issued }}</td>
                            <td>{{ issuance.date_issued }}</td>
                        </tr>
                        {% empty %}
                        <tr>
                            <td colspan="4" class="text-center"><h3>No nets issued yet!</h3></td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<!-- /.row -->


<div id="responsive-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title">Issue nets to facility</h4>
            </div>
            <div class="modal-body">
                <form method="POST" action="{% url 'distribution:issue_nets' %}">{% csrf_token %}
                    <div class="form-group">
                        <label for="recipient-name" class="control-label">Facility:</label>
                        <select name="facility" class="form-control selectpicker" id="item-search" data-live-search="true" required>
                          <option value="" disabled selected>--Pick facility--</option>
                          {% for facility in facilities %}
                          <option value="{{ facility.pk }}">{{ facility.facility_name }}</option>
                          {% endfor %}
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="recipient-name" class="control-label">Nets quantity:</label>
                        <input type="text" class="form-control" name="nets_issued">
                    </div>
                    <p><label for="recipient-name" class="control-label">Date issued:</label></p>
                    <div class="input-group">
                        <input type="text" name="date_issued" class="form-control mydatepicker" placeholder="dd/mm/yyyy">
                        <span class="input-group-addon"><i class="icon-calender"></i></span> 
                    </div>
                
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default waves-effect" data-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-danger waves-effect waves-light">Issue nets</button>
            </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}