{% load static %}
<div class="navbar-default sidebar" role="navigation">
            <div class="sidebar-nav navbar-collapse slimscrollsidebar">
                <ul class="nav" id="side-menu">
                    <li class="sidebar-search hidden-sm hidden-md hidden-lg">
                        <!-- input-group -->
                        <div class="input-group custom-search-form">
                            <input type="text" class="form-control" placeholder="Search..."> <span class="input-group-btn">
            <button class="btn btn-default" type="button"> <i class="fa fa-search"></i> </button>
            </span> </div>
                        <!-- /input-group -->
                    </li>
                    <li class="user-pro">
                        <a href="#" class="waves-effect"><img src="{% static 'plugins/images/users/d1.jpg' %}" alt="user-img" class="img-circle"> <span class="hide-menu">{{ user.username }}<span class="fa arrow"></span></span>
                        </a>
                        <ul class="nav nav-second-level">
                            <li><a href="javascript:void(0)"><i class="ti-user"></i> My Profile</a></li>
                            <li><a href="javascript:void(0)"><i class="ti-email"></i> Inbox</a></li>
                            <li><a href="javascript:void(0)"><i class="ti-settings"></i> Account Setting</a></li>
                            <li><a href="{% url 'logout' %}"><i class="fa fa-power-off"></i> Logout</a></li>
                        </ul>
                    </li>
                    <li> <a href="{% url 'facilities:dashboard' %}" class="waves-effect"><i class="ti-dashboard p-r-10"></i> <span class="hide-menu">Dashboard</span></a> </li>
                    
                    <li> <a href="" class="waves-effect"><i class="fa fa-hospital-o p-r-10"></i> <span class="hide-menu"> Facilities <span class="fa arrow"></span></span></a>
                        <ul class="nav nav-second-level">
                            <li> <a href="{% url 'facilities:facilities' %}">All Facilities</a> </li>
                            <li> <a href="{% url 'facilities:new_facility' %}">Add Facilities</a> </li>
                        </ul>
                    </li>
                    <li> <a href="" class="waves-effect"><i class="fa fa-arrows-alt p-r-10"></i> <span class="hide-menu"> Distribution <span class="fa arrow"></span></span></a>
                        <ul class="nav nav-second-level">
                            <li> <a href="{% url 'distribution:nets_distribution' %}">Nets delivery</a> </li>
                            <li> <a href="{% url 'distribution:nets_distributed' %}">Nets issuance</a> </li>
                        </ul>
                    </li>
                    
                    <li> <a href="{% url 'visits:visits_index' %}" class="waves-effect"><i class="icon-folder p-r-10"></i> Facility visits</a>
                    </li>
                    {% ifequal user.userprofile.usertype "Admin" %}
                    <li> <a href="{% url 'distribution:warehouses' %}" class="waves-effect"><i class="fa fa-institution p-r-10"></i>  Warehouse</a>
                    </li>
                    {% endifequal %}
                    <li> <a href="" class="waves-effect"><i class="icon-chart p-r-10"></i> <span class="hide-menu"> Reports <span class="fa arrow"></span></span></a>
                        <ul class="nav nav-second-level">
                            <li> <a href="{% url 'reporting:monthly_index' %}">monthly Report</a></li>
                            <li> <a href="{% url 'reporting:quarters_report' %}">Quarterly Report</a></li>
                            <li> <a href="#">Annual Report</a></li>
                        </ul>
                    </li>
                    {% ifequal user.userprofile.usertype "Admin" %}
                    <li> <a href="" class="waves-effect"><i class="icon-wrench p-r-10"></i> <span class="hide-menu"> Settings <span class="fa arrow"></span></span></a>
                        <ul class="nav nav-second-level">
                            <li> <a href="{% url 'facilities:facility_settings' %}">Facility settings</a></li>
                            <li> <a href="{% url 'authentication:accounts' %}" class="waves-effect">Accounts</a></li>
                            <li> <a href="{% url 'facilities:psk_regions' %}" class="waves-effect">Regions</a>
                            </li>
                            <li> <a href="{% url 'facilities:transmission_zones' %}" class="waves-effect">Transmission zones</a>
                            </li>
                            <li> <a href="#">Mail settings</a></li>
                            <li> <a href="#">Permissions</a></li>
                        </ul>
                    </li>
                    {% endifequal %}
                    
                </ul>
            </div>
        </div>